[Unit]
Description=Webhook server

[Service]
Type=exec
ExecStart=/usr/local/bin/webhook -nopanic -secure -cert /root/config/cert.pem -key /root/config/key.key -hooks /etc/webhook.json

User=root
Group=root
